 
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->


    <style>
        .file_input_hidden {
        font-size: 20px;
        position: absolute;
        /* right: 0px; */
        width: 100%;
        top: 0px;
        bottom: 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
        -khtml-opacity: 0;
        -moz-opacity: 0;
    }
    .file_wrap .iconw {
        border-radius: 0 5px 5px 0;
        border-right: 1px solid #01bdd6;
        bottom: -1px;
        right: -1px;
        position: absolute;
        top: -1px;
        width: 100px;
        padding: 10px 0 10px 0;
        background: #01bdd6;
        text-align: center;
        cursor: pointer;
        color: #fff;
    }
    .file_wrap .write_textbox {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 102px;
        top: 0;
    }
    .file_wrap input[type="text"] {
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        color: #333333;
        font-size: 16px;
        height: 29px;
        line-height: 28px;
        outline: medium none;
        padding: 4px;
        width: 98%;
    }
    .file_wrap {
        border: 1px solid #CCC;
        border-radius: 4px;
        height: 37px;
        position: relative;
    }
        
       .imgup
     {    border: 1px solid #e9ecef;
        width: 35%;
        margin-bottom:10px;
     } 
     .btn23{
    float: right;
    }  
    .cntimg{
    width: 35px;
    height: 30px; }

    
        </style>
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Dashboard 1</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard 1</li>
                            </ol>
                            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
                        </div>
                    </div>
                </div> -->
                
                <div class="page-wrapper">
                        <!-- ============================================================== -->
                        <!-- Container fluid  -->
                        <!-- ============================================================== -->
                        <div class="container-fluid">
                            <!-- ============================================================== -->
                            <!-- Bread crumb and right sidebar toggle -->
                            <!-- ============================================================== -->
                            <!-- <div class="row page-titles">
                                <div class="col-md-5 align-self-center">
                                    <h4 class="text-themecolor">Dashboard 1</h4>
                                </div>
                                <div class="col-md-7 align-self-center text-right">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                            <li class="breadcrumb-item active">Dashboard 1</li>
                                        </ol>
                                        <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
                                    </div>
                                </div>
                            </div> -->
                            
                      
                      <div class="row">
                                
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">All Country</h4>
                                            
                                            <!-- <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6> -->
                                            <div class="table-responsive m-t-10">
                                                <table id="example23" class="table display table-bordered table-striped dataTable" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                        <th> <input type="checkbox" id="checkAll" class="checkAll" ng-model="checkalltxt" ng-click="chkall()"   />
                                    <label for="checkAll"></label> </th>
                                                            <th>SN</th>
                                                            <th>Flag</th>
                                                             <th>Country name</th>
                                                              <th>Short Name</th>
                                                               <th>Language</th>
                                                               <th>Status</th>
                                                            <th>Action</th>
                                                            <th>Default Country</th>
                                                        </tr>
                                                    </thead>
                                                   
                                                    <tbody>
                                                     
                                                       
                                                        <!-- <tr ng-repeat="mylist in listpost">
                                                        <td>
                                                       <input type="checkbox" id="basic_checkbox_{{$index+1}}"  class="rowtxtchk" value="{{$index+1}}" ng-click="addchkval(mylist.country_id)" />
                                    <label for="basic_checkbox_{{$index+1}}"></label>
                                                </td>
                                                            <td>{{$index+1}}</td>
                                                            <td><img class="cntimg" src="{{mylist.countryimg}}"></td>
                                                            <td>{{mylist.country}}</td>
                                                            <td>{{mylist.shortcode}}</td>
                                                            <td>English,Malayalam</td>
                                                            <td>{{mylist.status}}Enabled</td>
                                                            <td style="width:20% !important;"> 
                                                                <a ng-if="mylist.defaultlang == '0'"    class="btn waves-effect waves-light btn-info " style="color: #fff;" ng-click="setasDefault(mylist.lang_id)">
                                                                      Set as Default 
            
                                                                      </a>
                                                                       <a ng-if="mylist.defaultlang == '1'"    class="btn waves-effect waves-light btn-info setasDefault" style="color: #fff;">
                                                                      Default Language
            
                                                                      </a>
                                                                       
                                                                    <a class="btn waves-effect waves-light btn-sm btn-success" href="/viewcountry/{{mylist.country_id}}">
                                                                        View
                                                                      </a>
                                                                      <a class="btn waves-effect waves-light btn-sm btn-info" href="/editcountry/{{mylist.country_id}}">
                                                                        Modify
                                                                      </a>
                                                                                                                  
                                                                    <button class="btn waves-effect waves-light btn-sm btn-danger"  ng-click="deletez(mylist.country_id)" rel=""  >
                                                                        Delete
                                                                    </button>
                                                                    </td>
                                                                    <td>No</td>
                                                            
                                                        </tr> -->
                                                         <tr >
                                                            <td>
                                                           <input type="checkbox" id="basic_checkbox_{{$index+1}}"  class="rowtxtchk" value="{{$index+1}}" ng-click="addchkval(1)" />
                                        <label for="basic_checkbox_{{$index+1}}"></label>
                                                    </td>
                                                                <td>{{$index+1}}</td>
                                                                <td><img class="cntimg" src="/uploads/file-1533813305635.png"></td>
                                                                <td>India</td>
                                                                <td>In</td>
                                                                <td>English,Malayalam</td>
                                                                <td>Enabled</td>
                                                                <td style="width:20% !important;"> 
                                                                    <!--<a ng-if="mylist.defaultlang == '0'"    class="btn waves-effect waves-light btn-info " style="color: #fff;" ng-click="setasDefault(mylist.lang_id)">
                                                                          Set as Default 
                
                                                                          </a>-->
                                                                           <!--<a ng-if="mylist.defaultlang == '1'"    class="btn waves-effect waves-light btn-info setasDefault" style="color: #fff;">
                                                                          Default Language
                
                                                                          </a>-->
                                                                           
                                                                        <a class="btn waves-effect waves-light btn-sm btn-success" href="/viewcountry/{{$index+1}}">
                                                                            View
                                                                          </a>
                                                                          <a class="btn waves-effect waves-light btn-sm btn-info" href="/editcountry/{{$index+1}}">
                                                                            Modify
                                                                          </a>
                                                                                                                      
                                                                        <button class="btn waves-effect waves-light btn-sm btn-danger"  ng-click="deletez({{$index+1}})" rel=""  >
                                                                            Delete
                                                                        </button>
                                                                        </td>
                                                                        <td>No</td>
                                                                
                                                            </tr>
                                                        <tr >
                                                            <td>
                                                           <input type="checkbox" id="basic_checkbox_{{$index+1}}"  class="rowtxtchk" value="{{$index+1}}" ng-click="addchkval(2)" />
                                        <label for="basic_checkbox_{{$index+1}}"></label>
                                                    </td>
                                                                <td>{{$index+1}}</td>
                                                                <td><img class="cntimg" src="/uploads/file-1533813230860.png"></td>
                                                                <td>USA</td>
                                                                <td>us</td>
                                                                <td>English,Malayalam</td>
                                                                <td>Enabled</td>
                                                                <td style="width:20% !important;"> 
                                                                    <!--<a ng-if="mylist.defaultlang == '0'"    class="btn waves-effect waves-light btn-info " style="color: #fff;" ng-click="setasDefault(mylist.lang_id)">
                                                                          Set as Default 
                
                                                                          </a>-->
                                                                           <!--<a ng-if="mylist.defaultlang == '1'"    class="btn waves-effect waves-light btn-info setasDefault" style="color: #fff;">
                                                                          Default Language
                
                                                                          </a>-->
                                                                           
                                                                        <a class="btn waves-effect waves-light btn-sm btn-success" href="/viewcountry/1">
                                                                            View
                                                                          </a>
                                                                          <a class="btn waves-effect waves-light btn-sm btn-info" href="/editcountry/1">
                                                                            Modify
                                                                          </a>
                                                                                                                      
                                                                        <button class="btn waves-effect waves-light btn-sm btn-danger"  ng-click="deletez(1)" rel=""  >
                                                                            Delete
                                                                        </button>
                                                                        </td>
                                                                        <td>No</td>
                                                                
                                                            </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                
                                 
                                </div>
            
            
                            </div>   
                         
                         
                    
                            
                            </div></div>
                             
                          </div>  
                       
                          
                          
                          
                          
                          </div></div>   




             
             
             
        
                   
               
             
                
                
                
                
                </div></div>
                 
              </div>  
           
              
              
              
              
              </div></div>
             
<script>
    $(document).ready(function() {
        $(".checkAll").change(function () {
        
    $(" input:checkbox").prop('checked', $(this).prop("checked"));
   
});
        $(".rowtxtchk").change(function () {
console.log(111);
                $(".checkAll").prop('checked', false);
        })
    });


    $(document).ready(function() {
 
   
    $('#example23').DataTable({
		responsive: true,
        dom: 'Bfrtip',
       lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
         buttons: [
		 'pageLength',
         'csv',
            {
                text: 'Add',
                 className: 'add-action',
               
            },
            {
                text: 'Edit',
                 className: 'edit-action',
                // action: function ( e, dt, node, config ) {
                //     alert( 'Button activated' );
                // }
            },
             {
                text: 'Delete',
                 className: 'delete-action',
                // action: function ( e, dt, node, config ) {
                //     alert( 'Button activated' );
                // }
            },
            

        ]
    });

     });

   
</script>

