 
     <style>
    
     .btn23{
   text-align: end;
   /* float: right; */
    }  
    

.imgstyle{
    width: 130px;
    height: 110px;
}
.page-wrapper{
   padding-top: 0px;
     
}
        </style>
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Dashboard 1</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard 1</li>
                            </ol>
                            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                      <h4 class="card-title">Country (View)</h4>
                      <div class="col-lg-12 ">

                               
                         <div class="card-body">
                                <div class="form-group m-b-10 btn23">
                                        <!-- <button type="button" ng-click="upLanguage()" class="btn waves-effect waves-light btn-sm btn-info">Save</button>-->
                                        
                                        <a href="/country"><button type="button" ng-click="cancel()" class="btn waves-effect waves-light btn-sm btn-default">Cancel</button></a>
                                         <!--<button type="button" ng-click="deletez(mylist.lang_id)" class="btn waves-effect waves-light btn-sm btn-danger">Delete</button>-->
                                   
                                    </div>


                         
                           
                                <!-- <h4 class="card-title">Vertical Tab</h4>
                                <h6 class="card-subtitle">Use default tab with class <code>vtabs &amp; tabs-vertical</code></h6> -->
                                <!-- Nav tabs -->
                                <form class="" >
                                <div class="vtabs">
                                        <ul class="nav nav-tabs tabs-vertical" role="tablist">
                                            <li class="nav-item"> <a class="nav-link active show tcat" data-toggle="tab" href="#country" role="tab" aria-selected="true"> <span class="hidden-xs-down">Language Default</span> </a> </li>
                                            <li class="nav-item"> <a class="nav-link  show tcat" data-toggle="tab" href="#country" role="tab" aria-selected="true"> <span class="hidden-xs-down">English Default</span> </a> </li>
                                            <li class="nav-item"> <a class="nav-link  show tcat" data-toggle="tab" href="#country" role="tab" aria-selected="true"> <span class="hidden-xs-down">Hindi</span> </a> </li>
                                            
                                        </ul>
                                   
                                    <!-- Tab panes -->
                                    <div class="tab-content col-lg-12">

                                        <div class="tab-pane active show" id="country" role="tabpanel">
                                            <div class="p-20">
                                               
                                                        <div class="clear"></div>
                                                     
                                                    <div class="tab-pane p-20" id="" role="tabpanel">
                                            
                                                            <div class="row  m-b-10 ">
                                                                <div class="col-lg-6">     
                                                                    <label class="" for="cd">Country name :</label>
                                                                </div> 
                                                                 <div class="col-lg-6">
                                                                <label class="" name="cd" id="cd">India</label>                                                   </div> 
                                                               
                                                            </div>
                                                                
                                                     <div class="row m-b-40 lgs">
                                                      <div class="col-lg-6">     
                                                                <label class="" for="cd">Short name :</label>
                                                            </div>  
                                                            <div class="col-lg-6">
                                                                <label class="" name="cd" id="cd">IN</label>        </div> 
                                                           
             </div> 
                                                            <div class="row m-b-10 lgs">
                                             <div class="col-lg-6">     
                                                                <label class="" for="cd">Domain :</label>
                                                            </div>  
                                                             <div class="col-lg-6">
                                                                <label class="" name="cd" id="cd">www.zshoppers.com</label>         </div> 
                                                           
                                                            </div>                                  
                                                        <div class="row m-b-10 lgs">
                                                           <div class="col-lg-6">
                                                            <label for="input1"> Flag :</label>
                                                           </div>  
                                                           <div class="col-lg-6">
                                                          <img class="imgstyle" src="/uploads/dummy.jpg"> 
                                                        </div>
                                                                      
                                                        </div>           
                                                        <div class="row m-b-40 lgs">
                                                                <div class="col-lg-6">     
                                                                                   <label class="" for="cd">Status :</label>
                                                                               </div>  
                                                                                <div class="col-lg-6">
                                                                                   <label class="" name="cd" id="cd">Enabled</label>         </div> 
                                                                              
                                                                               </div>  <div class="row m-b-10 lgs">
                                                                                    <div class="col-lg-6">     
                                                                                                       <label class="" for="cd">Default Country :</label>
                                                                                                   </div>  
                                                                                                    <div class="col-lg-6">
                                                                                                       <label class="" name="cd" id="cd">Yes</label>         </div> 
                                                                                                  
                                                                                                   </div>                
                                                        


            
                                                    </div>


                                             

                                                       
                                                               

                                               
                                             
                                            </div>
                                        </div>



                                         <div class="tab-pane show" id="country1" role="tabpanel">
                                            <div class="p-20">
                                                  
                                                   
                                                   
                                                    <div class="tab-pane p-20" id="" role="tabpanel">
                                            
                                                            <div class="row  m-b-10 ">
                                                                <div class="col-lg-6">     
                                                                    <label class="" for="cd">Country name :</label>
                                                                </div> 
                                                                 <div class="col-lg-6">
                                                                <label class="" name="cd" id="cd">Bharath</label>                                                   </div> 
                                                               
                                                            </div>
                                                                
                                                     <div class="row m-b-10 lgs">
                                                      <div class="col-lg-6">     
                                                                <label class="" for="cd">Short name :</label>
                                                            </div>  
                                                            <div class="col-lg-6">
                                                                <label class="" name="cd" id="cd">IN</label>        </div> 
                                                           
             </div> 
                                                            <div class="row m-b-10 lgs">
                                             <div class="col-lg-6">     
                                                                <label class="" for="cd">Domain :</label>
                                                            </div>  
                                                             <div class="col-lg-6">
                                                                <label class="" name="cd" id="cd">www.zshoppers.com</label>         </div> 
                                                           
                                                            </div>                                  
                                                        <div class="row m-b-10 lgs">
                                                           <div class="col-lg-6">
                                                            <label for="input1"> Flag :</label>
                                                           </div>  
                                                           <div class="col-lg-6">
                                                          <img class="imgstyle" src="/uploads/dummy.jpg"> 
                                                        </div>
                                                                      
                                                        </div>           
                                                        <div class="row m-b-10 lgs">
                                                                <div class="col-lg-6">     
                                                                                   <label class="" for="cd">Status :</label>
                                                                               </div>  
                                                                                <div class="col-lg-6">
                                                                                   <label class="" name="cd" id="cd">Enabled</label>         </div> 
                                                                              
                                                                               </div>  <div class="row m-b-10 lgs">
                                                                                    <div class="col-lg-6">     
                                                                                                       <label class="" for="cd">Default Country :</label>
                                                                                                   </div>  
                                                                                                    <div class="col-lg-6">
                                                                                                       <label class="" name="cd" id="cd">Yes</label>         </div> 
                                                                                                  
                                                                                                   </div>                
                                                        


            
                                                    </div>


                                             

                                                       
                                                               

                                             
                                            </div>
                                        </div>
                                        <div class="tab-pane p-20" id="messages4" role="tabpanel">3</div>
                                    </div>
                                </div>
                            </form >
                           </div>
                           </div>
                        
                   
                </div>
                             
                            </div>

                        </div>
                        


                    
                    </div>
                   
                     
                </div>      

             </div></div>
        
                
                </div>
              
              
              
              
             
             


