<!-- Bootstrap Core CSS -->


<link href="/admin/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
<!-- This page CSS -->
<!-- chartist CSS -->
<link href="/admin/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
<link href="/admin/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">


<link href="/admin/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />

<link href="/admin/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />


<!--c3 CSS -->
<link href="/admin/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
<!-- Custom CSS -->

<!-- Dashboard 1 Page CSS -->
<link href="/admin/css/pages/dashboard3.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="/admin/css/colors/blue.css" id="theme" rel="stylesheet">
<link href="/admin/css/pages/tab-page.css" id="theme" rel="stylesheet">

<link href="/admin/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="/admin/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

<!-- <link href="/admin/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="/admin/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="/admin/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css" /> -->


<!-- <link href="/lib/angular-tree-control/css/tree-control.css" rel="stylesheet" type="text/css" />
<link href="/lib/angular-tree-control/css/tree-control-attribute.css" rel="stylesheet" type="text/css" /> -->




<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
<link href="/admin/css/pages/floating-label.css" rel="stylesheet">
<!--<link rel="stylesheet" type="text/css" href="/admin/assets/plugins/datatables/media/css/dataTables.bootstrap4.css"> -->
<link href="/admin/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/admin/js/ckeditor/ckeditor.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
    .card-title {
        margin-bottom: 50px;
    }

    .table td,
    .table th {
        font-size: 12px;
    }

    .table thead th {
        font-size: 12px;
    }

    .nav-link {
        display: block;
        padding: 0.3rem 1rem;
    }

    .hidden-xs-down {
        font-size: 12px;
    }

    form label {
        font-size: 13px;
    }

    .form-control {
        color: #67757c;
        min-height: 27px;
        display: initial;
    }

    /*.selheight{
    height: 32px !important;
  }*/
    .btns {
        font-size: 13px !important;
    }
    .content {
    margin-top: 0px !important;
}
</style>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Zshoper</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <!-- Logo icon --><b>
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="/admin/assets/images/mobilelogo.png" alt="homepage" class="dark-logo">
                        <!-- Light Logo icon -->
                        <img src="/admin/assets/images/mobilelogo.png" alt="homepage" class="light-logo">
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text --><span style="display: none;">
                        <!-- dark Logo text -->
                        <img src="/admin/assets/images/logo.png" alt="homepage" class="dark-logo">
                        <!-- Light Logo text -->
                        <img src="/admin/assets/images/logo.png" class="light-logo" alt="homepage"></span> </a>



            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto">
                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i
                                class="ti-menu"></i></a> </li>
                    <li class="nav-item hidden-sm-down"><span></span></li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->

                <div class="form-group col-md-2 m-b-10">

                    <select ng-change="setLang()" ng-model="languages" class="form-control " name="languages" id="languages">
                        <option class="filter-option-inner " value="0" label="choose language" selected="selected"></option>
                        <option class="filter-option-inner" ng-repeat="langval in langlist" value="{{langval.extension}}">{{langval.language}}</option>

                    </select>
                </div>
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">

                    <!-- ============================================================== -->
                    <!-- End mega menu -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Language -->
                    <!-- ============================================================== -->
                    <style>
                        .span_time {
                            font-size: 10px !important;
                        }
                    </style>
                    <li class="nav-item dropdown">

                        <span class="span_time">Tuesday, 14 August 2018</span>
                        <!-- <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-us"></i></a>
                                <div class="dropdown-menu dropdown-menu-right animated bounceInDown"> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-in"></i> India</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> China</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> Dutch</a> </div> -->
                    </li>
                    <!-- ============================================================== -->
                    <!-- Profile -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><img src="/admin/assets/images/users/1.jpg" alt="user"
                                class="profile-pic" /></a>
                        <div class="dropdown-menu dropdown-menu-right animated flipInY">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img src="/admin/assets/images/users/1.jpg" alt="user"></div>
                                        <div class="u-text">
                                            <h4>Steave Jobs</h4>
                                            <p class="text-muted">varun@gmail.com</p><a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View
                                                Profile</a>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                                <!-- <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                                        <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                                        <li role="separator" class="divider"></li> -->
                                <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">PERSONAL</li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="/adminhome" aria-expanded="false">
                            <!-- <i class="mdi mdi-gauge"></i> -->
                            <span class="hide-menu">Dashboard</span></a>
                        <!-- <ul aria-expanded="false" class="collapse">
                                    <li><a href="index.html">Minimal </a></li>
                                    <li><a href="index2.html">Analytical</a></li>
                                    <li><a href="index3.html">Demographical</a></li>
                                    <li><a href="index4.html">Modern</a></li>
                                </ul> -->
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                            <!-- <i class="mdi mdi-book-open-variant"></i> -->
                            <span class="hide-menu">CMS</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">Blog</a>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a href="/cms/category">Category</a></li>
                                    <li><a href="/cms/post">Post</a></li>
                                </ul>
                            </li>
                            <li><a href="/cms/page">Page</a></li>
                            <!--   <li><a href="/report/orderreport">Plugins</a></li> -->
                        </ul>
                    </li>


                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                            <!-- <i class="mdi mdi-book-open-variant"></i> -->
                            <span class="hide-menu">Products</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/product/category">Category</a></li>
                            <li><a href="/product/extrafield">Extra Fields</a></li>
                            <li><a href="/product/product">Product</a></li>
                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">Tax Groups</a>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a href="/product/taxgroups">Tax Groups</a></li>
                                    <li><a href="/product/taxpayments">Tax Payments</a></li>

                                </ul>
                            </li>
                            <li><a href="/product/shippingpayments">Shipping Payments</a></li>
                            <li><a href="/product/businesstypelist">Business types</a></li>
                        </ul>
                    </li>

                    <!--             <li ng-repeat="item in topmenulist" ng-if="item.level==1"> 
                                <a ng-if="item.level!=1" class="has-arrow" href="/{{item.path}}" aria-expanded="false">
                                <a ng-if="item.level==1" class="has-arrow" href="#" aria-expanded="false">
                               
                                <span class="hide-menu" >{{item.menu}}</span></a>
                                <ul ng-if="item.hasChild==true" aria-expanded="true" class="collapse">
                                    <li ng-repeat="sub in submenulist" ng-if="sub.parentID==item._id">
                                        <a  ng-if="sub.level!=2" class="has-arrow" ng-if="sub.hasChild==true" href="/{{sub.path}}">{{sub.menu}} </a>
                                        <a  ng-if="sub.level==2" class="has-arrow waves-effect waves-dark" ng-if="sub.hasChild==true" href="#">{{sub.menu}} </a>
                                    
                                     <ul ng-if="sub.hasChild==true" aria-expanded="true" class="collapse">
                                                <li ng-repeat="sub in submenulist" ng-if="sub.parentID==item._id">
                                                <a class="has-arrow waves-effect waves-dark" ng-if="sub.hasChild==true" href="/{{sub.path}}">{{sub.menu}} </a></li>                                   
                                        </ul>
                                    
                                    </li>                                   
                               
                               
                                    </ul>
                            </li> -->



                    <li ng-repeat="val in topmenulist"> <a class="has-arrow waves-effect waves-dark" href="/{{val.path}}"
                            aria-expanded="false">


                            <span class="hide-menu">{{val.menu}}</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li ng-repeat="sub in val.childIDs"><a href="/{{sub.path}}">{{sub}} </a></li>

                        </ul>
                    </li>


                    <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-switch="item.type" ui-sref-active="active"
                        class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">

                        <a class="has-arrow waves-effect waves-dark" ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"
                            aria-expanded="false" href="#">

                            <span class="hide-menu">{{item.title}}</span></a>
                        <ul>
                            <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-switch="subitem.type"
                                ui-sref-active="active">
                                <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title" class="{{subitem.class}}">Minimal
                                </a>

                                <ul ng-if="subitem.items.length>0">
                                    <li ng-repeat="i in subitem.items | orderBy: 'position'"><a ui-sref="{{i.state}}({{i.params}})"
                                            ng-bind="i.title">Minimal </a></li>

                                </ul>


                            </li>

                        </ul>
                    </li>


                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                            <!-- <i class="mdi mdi-settings"></i> -->
                            <span class="hide-menu">Settings</span></a>

                        <!-- <ul aria-expanded="false" class="collapse">
                                     <li> <a class="" href="/country" >Country</a> </li> 
                                    <li> <a class="" href="/language" >Language</a> </li> 
                                </ul> -->

                        <ul aria-expanded="false" class="collapse">

                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">Location</a>
                                <ul aria-expanded="true" class="collapse" style="">
                                    <li><a href="/settings/countrylist">Country</a></li>
                                    <li><a href="/settings/statelist">State</a></li>
                                    <li><a href="/settings/districtlist">District</a></li>
                                    <li><a href="/settings/pincodelist">Postal code/Zip code</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">General</a>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a href="/settings/mainstore">Main store</a></li>
                                    <li><a class="has-arrow " href="#" aria-expanded="false">Delivery service areas</a>
                                        <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/settings/generalcountry">Country</a>
                                            </li>
                                            <li><a href="/settings/generalstatelist">State</a>
                                            </li>
                                            <li><a href="/settings/generaldistrictlist">District</a>
                                            </li>
                                            <li><a href="/settings/generalpostalcodelist">Postal code/Zip code</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/settings/generalcurrencylist">Currency</a></li>
                                    <li><a href="/settings/languagelist">Languages</a></li>
                                </ul>



                            </li>
                            <li>
                                <a class=" " href="/settings/settingsstores" aria-expanded="flase">Stores</a>

                            </li>
                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">Shipping</a>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a href="#">Shipping methods</a></li>
                                    <li><a href="#">Shipping services</a></li>

                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">Payment</a>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a href="#">Payment methods</a></li>
                                    <li><a href="#">Payment services</a></li>

                                </ul>
                            </li>
                            <li>
                                <a class="" href="#" aria-expanded="flase">SMS services</a>

                            </li>
                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">Analytics</a>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a href="#">Google</a></li>
                                    <li><a href="#">Alexa</a></li>

                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">Businness</a>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a href="/settings/businesscountrylist">Countries</a></li>
                                    <li><a href="/settings/businesslanguagelist">Languages</a></li>

                                </ul>
                            </li>
                            <li>
                                <a class=" " href="/settings/settingsproductadd" aria-expanded="flase">Products</a>

                            </li>
                            <li>
                                <a class=" " href="/settings/settingscartadd" aria-expanded="flase">Cart</a>

                            </li>
                            <li>
                                <a class=" " href="/settings/settingspromotionadd" aria-expanded="flase">Promotion</a>

                            </li>
                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">CMS</a>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a href="/settings/cmscategory">Category</a></li>
                                    <li><a href="/settings/cmspost">Post</a></li>
                                    <li><a href="#">Page</a></li>

                                </ul>
                            </li>
                            <li>
                                <a class=" " href="/settings/settingsnewsletteradd" aria-expanded="flase">Newsletter</a>

                            </li>
                            <li>
                                <a class="" href="/settings/menulist" aria-expanded="flase">Menu</a>

                            </li>
                            <li>
                                <a class=" " href="#" aria-expanded="flase">Templates</a>

                            </li>
                            <li>
                                <a class="" href="#" aria-expanded="flase">Modules</a>

                            </li>
                            <li>
                                <a class="" href="#" aria-expanded="flase">Plugins</a>

                            </li>
                            <li>
                                <a class="" href="#" aria-expanded="flase">User management</a>

                            </li>

                            <li>
                                <a class="" href="/settings/settingsmembershipadd/" aria-expanded="flase">Membership</a>

                            </li>
                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">Offline Vendor Shop</a>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a href="/settings/offlinevendorshop">General</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                            <!-- <i class="mdi mdi-book-open-variant"></i> -->
                            <span class="hide-menu">Email</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">General</a>
                                <!--   <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/cms/category">Category</a></li>
                                            <li><a href="/cms/post">Post</a></li>
                                        </ul> -->
                            </li>
                            <li>
                                <a class="has-arrow " href="#" aria-expanded="flase">Templates</a>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a class="has-arrow " href="#" aria-expanded="false">User</a>
                                        <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/email/userreglist">User Registration</a>
                                            </li>
                                            <li><a href="/email/forgetpasslist">Forgot Password</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a class="has-arrow " href="#" aria-expanded="false">Order</a>
                                        <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/email/ordercreation">Order Creation</a>
                                            </li>
                                            <li><a href="/email/paymentfailure">Payment Failure</a>
                                            </li>
                                            <li><a href="/email/nostocklist">No Stock Item</a>
                                            </li>
                                            <li><a href="/email/hold">Hold</a>
                                            </li>
                                            <li><a href="/email/unhold">Un hold</a>
                                            </li>
                                            <li><a href="/email/ordercomments">Order Comments</a>
                                            </li>
                                            <li><a href="/email/cancelation">Cancelation</a>
                                            </li>
                                            <li><a href="/email/orderprocess">Order Process</a>
                                            </li>
                                            <li><a href="/email/ordercompletion">Order Completion</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a class="has-arrow " href="#" aria-expanded="false">Invoice</a>
                                        <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/email/invoicecreation">Invoice Creation</a>
                                            </li>
                                            <li><a href="/email/invoicecomments">Invoice Comments</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a class="has-arrow " href="#" aria-expanded="false">Credit memo</a>
                                        <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/email/memocreation">Credit memo creation</a>
                                            </li>
                                            <li><a href="/email/memocomments">Credit memo comments</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a class="has-arrow " href="#" aria-expanded="false">Shipments</a>
                                        <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/email/shipmentcreation">Shipment creation</a>
                                            </li>
                                            <li><a href="/email/shipmentcomments">Shipment Comments</a>
                                            </li>
                                            <li><a href="/email/shipmentupdates">Shipment Updates</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a class="has-arrow " href="#" aria-expanded="false">Promotion</a>
                                        <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/email/shareusers">Share with users</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a class="has-arrow " href="#" aria-expanded="false">Product</a>
                                        <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/email/reviewsubmission">Product reviews submission</a>
                                            </li>
                                            <li><a href="/email/ratingsubmission">Product ratings submission</a>
                                            </li>
                                            <li><a href="/email/tagsubmission">Product tag submission</a>
                                            </li>
                                            <li><a href="/email/productreviewaction">Product reviews admin action</a>
                                            </li>
                                            <li><a href="/email/productratingaction">Product ratings admin action</a>
                                            </li>
                                            <li><a href="/email/producttagaction">Product tag admin action</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a class="has-arrow " href="#" aria-expanded="false">CMS</a>
                                        <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/email/cmsreviewsubmission">CMS reviews submission</a>
                                            </li>
                                            <li><a href="/email/cmsratingsubmission">CMS ratings submission</a>
                                            </li>
                                            <li><a href="/email/cmstagsubmission">CMS tag submission</a>
                                            </li>
                                            <li><a href="/email/cmsreviewaction">CMS reviews admin action</a>
                                            </li>
                                            <li><a href="/email/cmsratingaction">CMS ratings admin action</a>
                                            </li>
                                            <li><a href="/email/cmstagaction">CMS tag admin action</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a class="has-arrow " href="#" aria-expanded="false">Newsletter</a>
                                        <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/email/emailconfirmation">Email Confirmation</a>
                                            </li>
                                            <li><a href="/email/successfullsubscription">Successful subscription</a>
                                            </li>
                                            <li><a href="/email/subscription">Subscription</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul aria-expanded="true" class="collapse " style="">
                                    <li><a class="has-arrow " href="#" aria-expanded="false">Contact Form</a>
                                        <ul aria-expanded="true" class="collapse " style="">
                                            <li><a href="/cms/category">Contact Form</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <style>
            .buttons-page-length,
            .buttons-csv,
            .add-action,
            .edit-action,
            .delete-action,
            .cancel-action,
            .back-action,
            .business-action,
            .reset-action,
            .dt-button {
                background: darkgray !important;
                border-color: #e0e0e0 !important;
                font-size: 12px !important;
                padding: 3px 7px !important;

            }

            .btns {
                font-size: 16px !important;
            }

            .btn-top,
            .btn23 {
                margin-right: 40px;
            }

            .table-responsive .table td,
            .table-responsive .table th {
                font-size: 12px !important;
            }

            .tabs-vertical {
                padding-right: 0px !important;
            }

            .form-control {

                font-size: 13px;
            }

            label {

                font-size: 13px;
            }

            .file_wrap input[type="text"] {

                font-size: 13px !important;
                height: 33px !important;
            }

            .dataTables_info,
            .page-link {
                font-size: 13px !important;
            }

            #sidebarnavvendor li a:hover {
                background: #398bf7;
                border: 0px;
                color: #ffffff;
            }

            #sidebarnavvendor li a.has-arrow:hover::after {
                border-color: #FFF;
            }

            .sidebar-navvendor>ul>li.active>a {
                background: #398bf7;
                border: 0px;
                color: #ffffff;
            }

            .sidebar-navvendor>ul>li.active>a.has-arrow::after {
                border-color: #FFF;
            }

            .vtabs>.left-sidebar>.scroll-sidebar {
                padding: 0px !important;
            }

            .datepicker td,
            .datepicker th {
                font-size: 13px;
            }
        </style>
        <!-- End Sidebar scroll-->
    </aside>