<section>
  <div class="page-header">
    <h1>Cms</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="cm in vm.cms"
       ui-sref="cms.view({ cmId: cm._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="cm.created | date:'mediumDate'"></span>
        by
        <span ng-if="cm.user" ng-bind="cm.user.displayName"></span>
        <span ng-if="!cm.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="cm.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.cms.$resolved && !vm.cms.length">
    No Cms yet, why don't you <a ui-sref="cms.create">create one</a>?
  </div>
</section>
