<style>
    .btn23 {
        float: right;
    }

    .page-wrapper {
        padding-top: 0px;

    }

    .tblimg {
        width: 70px;
        height: 52px;
    }

    .file_input_hidden {
        font-size: 20px;
        position: absolute;
        /* right: 0px; */
        width: 100%;
        top: 0px;
        bottom: 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
        -khtml-opacity: 0;
        -moz-opacity: 0;
    }

    .file_wrap .iconw {
        border-radius: 0 5px 5px 0;
        border-right: 1px solid #01bdd6;
        bottom: -1px;
        right: -1px;
        position: absolute;
        top: -1px;
        width: 100px;
        padding: 10px 0 10px 0;
        background: #01bdd6;
        text-align: center;
        cursor: pointer;
        color: #fff;
    }

    .file_wrap .write_textbox {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 102px;
        top: 0;
    }

    .file_wrap input[type="text"] {
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        color: #333333;
        font-size: 16px;
        height: 29px;
        line-height: 28px;
        outline: medium none;
        padding: 4px;
        width: 98%;
    }

    .file_wrap {
        border: 1px solid #CCC;
        border-radius: 4px;
        height: 37px;
        position: relative;
    }

    .imgup {
        border: 1px solid #e9ecef;
        width: 100%;
        /* margin-bottom: 35px; */
    }

    /* .lgs1{
             width: 28%;
        float: left;
    } */

    .lblfor {
        /* margin-right: 40%; */
        width: 65%;
    }

    .lblval {
        margin-left: 70%;
        width: 55%;
    }

    .rd_vid {
        display: none;
    }

    .img-wrap {
        width: 16%;
        height: 125px;
    }

    .img-wrap img {
        width: 115px;
        border-radius: 58px;
    }

    .user-dtls {
        width: 70%;
        float: left;
    }

    .user-dtls h5 {
        padding: 11px 16px;
    }

    .clear {
        clear: both !important;
    }

    .floating-labels .form-control {
        border: 1px solid #ddd !important;
    }

    .floating-labels label {
        color: #67757c;
        position: absolute;
        cursor: auto;
        top: 13px;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        font-size: 12px;
        padding-left: 5px;
    }

    .bord {
        border-top: 1px solid black;
    }

    .lblsize {
        font-size: 12px !important;
    }

    .cntimg {
        width: 35px;
        height: 30px;
    }

    .fastar {
        color: orange !important;
    }

    .lblstar {
        padding-left: 12px;
    }

    .fas {
        padding-right: 10px
    }

    .detailreview {
        display: none;
    }

    .tblbundle {
        border-color: #e9edf21f;
    }

    .table-responsive {
        overflow-x: auto !important;
    }

    .chkcustom+label:before,
    .chkcustom:not(.filled-in)+label:after {
        content: '';
        position: absolute;
        top: 0px !important;
    }




    .lever {
        cursor: pointer;
    }

    .el-card-item .el-overlay-1 {
        width: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

    .el-card-item .el-overlay-1:hover .el-overlay {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }

    .el-card-item {
        position: relative;
        /* padding-bottom: 25px; 
        margin-bottom: 15px;*/
    }

    .el-card-item .el-overlay-1 .el-info>li a:hover {
        background: #398bf7;
        border-color: #398bf7;
    }

    .el-card-item .el-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .el-card-item .el-overlay-1:hover img {
        -ms-transform: scale(1.2) translateZ(0);
        -webkit-transform: scale(1.2) translateZ(0);
        /* transform: scale(1.2) translateZ(0); */
    }

    .el-card-item .el-overlay-1 .el-info {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        color: #ffffff;
        background-color: transparent;
        filter: alpha(opacity=0);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        padding: 0;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%) translateZ(0);
        -webkit-transform: translateY(-50%) translateZ(0);
        -ms-transform: translateY(-50%) translateZ(0);
    }

    .el-card-item .el-overlay-1 .el-info>li {
        list-style: none;
        display: inline-block;
        margin: 0 3px;
    }
</style>

<style type="text/css" id="treeview4-style">
    .treeview .list-group-item {
        cursor: pointer
    }

    .treeview span.indent {
        margin-left: 10px;
        margin-right: 10px
    }

    .treeview span.icon {
        width: 12px;
        margin-right: 5px
    }

    .treeview .node-disabled {
        color: silver;
        cursor: not-allowed
    }

    .node-treeview4 {
        color: #428bca;
    }

    .node-treeview4:not(.node-disabled):hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
</style>

<script src="/admin/assets/plugins/bootstrap-treeview-master/dist/bootstrap-treeview.min.js"></script>
<script src="/admin/assets/plugins/bootstrap-treeview-master/dist/bootstrap-treeview-init.js"></script>

<link href="/admin/assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
<link href="/admin/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<!-- 
                    ///////////////////////////////////////////////////////////////////////////////////// -->


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- <div class="row page-titles">
                        <div class="col-md-5 align-self-center">
                            <h4 class="text-themecolor">Dashboard 1</h4>
                        </div>
                        <div class="col-md-7 align-self-center text-right">
                            <div class="d-flex justify-content-end align-items-center">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                    <li class="breadcrumb-item active">Dashboard 1</li>
                                </ol>
                                
                            </div>
                        </div>
                    </div> -->


        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Product price rule </h4>
                        <div class="col-lg-12">

                            <!-- <h4 class="card-title">Vertical Tab</h4>
                                    <h6 class="card-subtitle">Use default tab with class <code>vtabs &amp; tabs-vertical</code></h6> -->
                            <!-- Nav tabs -->

                            <form class="">

                                <div class="form-group m-b-10 btn23">
                                    <button type="button" ng-click="updateProductPrice()" class="btn waves-effect waves-light btn-sm btn-info"> Save </button>

                                    <a href="/promotions/productrules">
                                        <button type="button" ng-click="cancel()" class="btn waves-effect waves-light btn-sm btn-default">
                                        Cancel </button>
                                    </a>
                                </div>


                                <div class="vtabs">
                                    <ul class="nav nav-tabs tabs-vertical" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link tcat" data-toggle="tab" href="#home" role="tab" aria-selected="true">
                                                <span class="hidden-xs-down">Language : default</span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link active show" data-toggle="tab" href="#details" role="tab" aria-selected="false">
                                                <span class="hidden-xs-down">Details</span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link  " data-toggle="tab" href="#conditions" role="tab" aria-selected="false">
                                                <span class="hidden-xs-down">Conditions</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#actions" role="tab" aria-selected="false">
                                                <span class="hidden-xs-down">Actions</span>
                                            </a>
                                        </li>



                                    </ul>

                                    <!-- Tab panes -->

                                    <div class="tab-content col-lg-12">




                                        <div class="tab-pane active show" id="details" role="tabpanel">
                                            <div class="p-20">

                                                <div class="col-md-9">
                                                    <div class="form-group m-b-10">
                                                        <span class="bar"></span>
                                                        <label for="input1"> Rule name </label>
                                                        <input type="text" class="form-control cat" id="name" ng-model="formdata.ruleName">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk1" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk1">Default</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-group m-b-10">
                                                        <label> Description</label>
                                                        <textarea class="form-control" rows="5" ng-model="formdata.description"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk2" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk2">Default</label>
                                                    </div>
                                                </div>



                                                <div class="col-md-9">
                                                    <div>
                                                        <div class="form_group">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <label for="first_name" id="labelimg">Banner</label>

                                                                    <div class="fluid left_c_input file_wrap m-b-10">
                                                                        <div class="write_textbox">
                                                                            <input type="text" readonly placeholder="No file selected" class="txtFilepath" style="border:none !important;" name="name{{$index}}">
                                                                        </div>
                                                                        <div class="iconw" ng-click="iconw()">
                                                                            <i class="fa fa-download"></i>Upload Image</div>
                                                                        <input type="file" id="imgfile" name="imgfile{{$index}}" class="file_input_hidden img" ng-model="imgss" ngf-select />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-md-6 imgprev">
                                                                    <div class="card">
                                                                        <div class="el-card-item">
                                                                            <div class="el-card-avatar el-overlay-1 imageup">
                                                                                <img src="/uploads/dummy.jpg" alt="user" id="imgfiles"
                                                                                    class="imgup">
                                                                                <div class="el-overlay">
                                                                                    <ul class="el-info">
                                                                                        <li>
                                                                                            <a id="imgfiles2" class="btn default btn-outline image-popup-vertical-fit"
                                                                                                href="/uploads/dummy.jpg">
                                                                                                <i class="icon-magnifier"></i>
                                                                                            </a>
                                                                                        </li>
                                                                                        <!-- <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li> -->
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                            <!-- <div class="el-card-content">
                                                                                        <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                                                                        <br> </div> -->
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk3" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk3">Default</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-group m-b-10">
                                                        <label for="input1">Display in</label>
                                                        <!-- <textarea class="form-control cat" id="extra" type="text" ng-model="formdata.desc" rows="5"></textarea>-->

                                                        <select class="selectpicker form-control" multiple data-style="form-control btn-info" ng-model="formdata.displayIn">
                                                            <option>Global</option>
                                                            <option>India</option>
                                                            <option>UAE</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk4" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk4">Default</label>
                                                    </div>
                                                </div>


                                                <div class="col-md-9">
                                                    <div class="form-group m-b-10">
                                                        <span class="bar"></span>
                                                        <label for="input1"> Start date </label>
                                                        <div class=" example ">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control mydatepicker" ng-model="formdata.startDate" placeholder="mm/dd/yyyy">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="icon-calender"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk5" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk5">Default</label>
                                                    </div>
                                                </div>


                                                <div class="col-md-9">
                                                    <div class="form-group m-b-10">
                                                        <span class="bar"></span>
                                                        <label for="input1"> End date </label>
                                                        <div class=" example ">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control mydatepicker" ng-model="formdata.endDate" placeholder="mm/dd/yyyy">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="icon-calender"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk6" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk6">Default</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-group m-b-10">
                                                        <!-- <input type="text" class="form-control cat" id="status"  ng-model="formdata.status" >-->
                                                        <span class="bar"></span>
                                                        <label for="status">Status</label>
                                                        <select class="form-control filter-option" name="status" id="status" ng-model="formdata.status">
                                                            <option class="filter-option-inner" value="0">choose</option>
                                                            <option value="disable" class="filter-option-inner">Disable</option>
                                                            <option value="enable">Enable</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk7" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk7">Default</label>
                                                    </div>
                                                </div>







                                            </div>
                                        </div>

                                        <div class="tab-pane" id="conditions" role="tabpanel">
                                            <div class="p-20">


                                                <div class="col-md-9">
                                                    <div class="form-group m-b-10">
                                                        <!-- <input type="text" class="form-control cat" id="status"  ng-model="formdata.status" >-->
                                                        <label for="status">Apply to</label>
                                                        <select class="form-control filter-option" name="sale" id="sale" ng-model="formdata.applyTo">
                                                            <option class="filter-option-inner" value="0">select</option>

                                                            <option value="category" class="filter-option-inner">Category</option>
                                                            <option value="product">Product</option>

                                                        </select>
                                                        <span class="bar"></span>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk8" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk8">Default</label>
                                                    </div>
                                                </div>
                                                <div class="form-group m-b-10 col-lg-9 " ng-show="formdata.applyTo==category">
                                                    <label for="input1">Category</label>
                                                    <div id="treeview2" class="treeview"></div>
                                                </div>

                                                <div class="form-group m-t-10 m-b-20 col-lg-9" ng-show="formdata.applyTo==product">
                                                    <div class="row">


                                                        <div class="col-lg-12">

                                                            <div class="table-responsive m-t-20">



                                                                <table id="example24" class="example24 display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                <input type="checkbox" id="checkAll" class="checkAll"
                                                                                    ng-model="checkalltxt" ng-click="chkall()"
                                                                                />
                                                                                <label for="checkAll"></label>
                                                                            </th>

                                                                            <th>Product name</th>
                                                                            <th>SKU </th>
                                                                            <th>Available Qty</th>
                                                                            <th>Price</th>
                                                                            <th>Row total </th>


                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <input type="checkbox" id="basic_checkbox_{{$index+1}}"
                                                                                    class="rowtxtchk" value="{{$index+1}}" ng-click="addchkval(val.cat_id)"
                                                                                />
                                                                                <label for="basic_checkbox_{{$index+1}}">{{index+1}}</label>
                                                                            </td>

                                                                            <td>Shirt 007 </td>
                                                                            <td>12345</td>
                                                                            <td>25</td>
                                                                            <td>INR 500.00</td>
                                                                            <td>1000.00</td>

                                                                        </tr>


                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-9">
                                                    <div class="form-group m-b-10">
                                                        <!-- <input type="text" class="form-control cat" id="status"  ng-model="formdata.status" >-->
                                                        <label for="status">These conditions are</label>
                                                        <select class="form-control filter-option" name="status" id="status" ng-model="formdata.conditions">
                                                            <option class="filter-option-inner" value="0">choose</option>

                                                            <option value="true" class="filter-option-inner">True</option>
                                                            <option value="false">False</option>
                                                        </select>
                                                        <span class="bar"></span>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk9" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk9">Default</label>
                                                    </div>
                                                </div>




                                            </div>
                                        </div>
                                        <div class="tab-pane" id="actions" role="tabpanel">
                                            <div class="p-20">


                                                <div class="col-md-9">
                                                    <div class="form-group m-b-10">
                                                        <!-- <input type="text" class="form-control cat" id="status"  ng-model="formdata.status" >-->
                                                        <label for="status">Apply to</label>
                                                        <select class="form-control filter-option" name="sale" id="sale" ng-model="formdata.actionApplyTo">
                                                            <option value="by percentage of original price" class="filter-option-inner">By percentage of the original price</option>
                                                            <option value="by fixed amount">By Fixed Amount </option>
                                                        </select>
                                                        <span class="bar"></span>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk10" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk10">Default</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-9">
                                                    <div class="form-group m-b-10">
                                                        <!-- <input type="text" class="form-control cat" id="status"  ng-model="formdata.status" >-->
                                                        <label for="con">Discounted Amount </label>

                                                        <span class="bar"></span>
                                                        <input type="text" class="form-control cat" id="values" ng-model="formdata.discountAmount">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk11" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk11">Default</label>
                                                    </div>
                                                </div>






                                                <div class="col-md-9">
                                                    <div class="form-group m-b-10">
                                                        <!-- <input type="text" class="form-control cat" id="status"  ng-model="formdata.status" >-->
                                                        <label for="status">Stop Further Rule Processing</label>
                                                        <select class="form-control filter-option" name="status" id="status" ng-model="formdata.stopRuleProcess">
                                                            <option value="yes" class="filter-option-inner">Yes</option>
                                                            <option value="no">No</option>
                                                        </select>
                                                        <span class="bar"></span>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group has-danger defcheck">
                                                        <input name="shortchk" type="checkbox" id="chk12" class="filled-in chk-col-light-blue">
                                                        <label class="lbl" for="chk12">Default</label>
                                                    </div>
                                                </div>




                                            </div>
                                        </div>




                                    </div>
                                </div>
                            </form>

                        </div>
                        <!-- 
                                    <form class="floating-labels m-t-40">
                                        <div class="form-group m-b-40">
                                            <input type="text" class="form-control cat" id="name" type="text" ng-model="formdata.category" >
                                          
                                            <span class="bar"></span>
                                            <label for="input1"> category</label>
                                        </div> <div class="form-group m-b-40 btn23">
                                        <button type="button" ng-click="insCategory()" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Submit </button>
                                   </div>
                                    </form> -->
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

<!-- modal -->

<!-- modal -->
<link href="/admin/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<script src="/admin/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/admin/assets/plugins/datatables/media/css/dataTables.bootstrap4.css">

<script src="/admin/assets/plugins/datatables/datatables.min.js"></script>

<script>$('.mydatepicker, #datepicker').datepicker();
    $('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });





</script>




<script>
            $(document).ready(function () {




                $('#myTable').DataTable();


                $('.example24').DataTable({

                });
            });
</script>
<script>
            setTimeout(function () {
                $('.selectpicker').selectpicker({
                    style: 'btn-default',
                    size: 4
                });
            }, 1000)</script>