<section>
  <div class="page-header">
    <h1>Emails</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="email in vm.emails"
       ui-sref="emails.view({ emailId: email._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="email.created | date:'mediumDate'"></span>
        by
        <span ng-if="email.user" ng-bind="email.user.displayName"></span>
        <span ng-if="!email.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="email.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.emails.$resolved && !vm.emails.length">
    No Emails yet, why don't you <a ui-sref="emails.create">create one</a>?
  </div>
</section>
