<style>.btn23{
    float: right;
    }
.page-wrapper{
   padding-top: 0px;
     
}

.order-details-box{
  font-size: 12px;
  border: 1px solid  #e6e2e2;
  margin: 10px 10px 10px 10px;
}
.order-details-box label{
  font-size: 12px;
}


@media only screen and (max-width: 1000px) {
	.vtabs .tabs-vertical {
    width: 100%  !important;
}
}

.table-responsive .table td,.table-responsive .table th {
    font-size: 11px;
}
.trans-comments{
      font-size: 12px;
}
.center-align{
  text-align: center;
}
.order-details-box [type="checkbox"] + label {
   
    line-height: 36px;
   
}
.label-font label{
  font-size: 12px !important;
      line-height: 36px;
}
.label-font [type="radio"] + label{
   line-height: 15px !important;
}
.weightcalcbtn{
    height: 30px;
    background: #398bf7;
    padding: 3px 8px;
    font-size: 12px;
}

</style>

<style type="text/css" id="treeview4-style"> .treeview .list-group-item{cursor:pointer}.treeview span.indent{margin-left:10px;margin-right:10px}.treeview span.icon{width:12px;margin-right:5px}.treeview .node-disabled{color:silver;cursor:not-allowed}.node-treeview4{color:#428bca;}.node-treeview4:not(.node-disabled):hover{background-color:rgba(0, 0, 0, 0.05);} </style>
   <script src="/admin/assets/plugins/bootstrap-treeview-master/dist/bootstrap-treeview.min.js"></script>
    <script src="/admin/assets/plugins/bootstrap-treeview-master/dist/bootstrap-treeview-init.js"></script>
     <link href="/admin/assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
      <link href="/admin/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<!-- 
                ///////////////////////////////////////////////////////////////////////////////////// -->

   <div class="page-wrapper" >
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
              
          
          <div class="row">
                   
                    
                     <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">All Shipments</h4>
                                       
                                        <div class="table-responsive m-t-20">
                                        
                                        <!--<div class="row">
                                                        <div class="form-group col-md-3 m-b-10">
                                                                 <input type="text" class="form-control cat" id="status"  ng-model="formdata.status" >
                                                                <label for="input1"> Country</label>
                                                                       <select class="form-control filter-option" name="status" id="status" ng-model="formdata.status">
                                                                       <option class="filter-option-inner" value="0">choose</option>
        
                                                                   <option value="1" class="">India</option>   
                                                                   <option value="2" class="">USA</option>                
                                                    
                                                  </select>
                                                </div>
                                                <div class="form-group col-md-3 m-b-10">
                                                         <input type="text" class="form-control cat" id="status"  ng-model="formdata.status" >
                                                        <label for="input1"> Language</label>
                                                               <select class="form-control filter-option" name="status" id="status" ng-model="formdata.status">
                                                               <option  class="filter-option-inner" value="0">choose</option>
                                                    <option value="1" class="">Hindi</option> 
                                                           <option value="2" class="">English</option>   
                                                          
                                            
                                          </select>
                                        </div>
                                        <div class="col-md-3 m-t-30 ">
                                            <button type="button" ng-click="ins" class="btn waves-effect waves-light btn-sm btn-info btns"> Submit </button>
                                        </div>
                                    </div>-->
                              <table id="example24" class="example24 display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                  <thead>
                                      <tr>
                                                        
                                                          <th>Shipment<br>number</th>
                                                          <th>Shipment<br>date</th>
                                                          <th>Ship<br>to<br>name</th>
                                                          <th>Payment<br>method</th>
                                                          <th>Payment<br>status</th>
                                                          <th>Amount</th>
                                                          <th>Action</th>
                                                           </tr>
                                                            </thead>
                                                            <tbody>
                                                          <tr >
                                                         
                                                       
                                                            <td>1000001 </td>
                                                            <td>Aug 16 2018 7:40:01 AM </td>
                                                            <td>Shihab</td>
                                                            <td>Credit/Debit card</td>
                                                            <td>Paid</td>
                                                            <td>RS 1000.00</td>
                                                            <td><a class="btn waves-effect waves-light btn-sm btn-info" href="javascript:void(0);" ng-click="getMyTab('shipaftershipment')">
                                                          View
                                                        </a>
                                                                                                    
                                                        
                                                        </td>
                                                        </tr>
                                                                        
                                                                         
                                                                   </tbody>
                                                             </table>
                                                         </div>
                                                          </div>
                                                          </div>  

                                                         
                                             </div>



                                        </div>
                                   
        
                                       
                        <!-- orderinvoice -->

                        

                                           <!-- order hold -->
                                           
                                   
                                   
                                   
                                   <!-- order credit memo -->


                                   

                                           <!-- order ship -->
                                           

                                           <!-- order after invoiced -->


                                           
                                           <!-- credit memo after issued -->

                                           
                                           <!-- ship after shipment  -->
                                           <!--<div class="tab-pane p-20 " id="shipaftershipment" role="tabpanel">
                                            <div class="btn23">
                                       
                                      <button type="button" class="btn waves-effect waves-light btn-sm btn-default" ng-click="getMyTab('shipments')"> Back </button>
                                       <button type="button" class="btn waves-effect waves-light btn-sm  btn-info"> Ship</button>
                                   
                                     <button type="button" class="btn waves-effect waves-light btn-sm btn-default" > Reset </button>
                                  </div> 
                                  <div class="clearfix"></div>
                                           <div class="form-group">
                                                    <label class="control-label">First Name</label>
                                                    <input type="text" id="firstName" class="form-control" placeholder="John doe">
                                                    <small class="form-control-feedback"> This is inline help </small> </div> 
                                            <div class="p-20 row">
                                                Order Information 
                                             <div class="col-lg-6  ">
                                             <div class="col-lg-12 order-details-box p-10">
                                              <div class="m-b-10">
                                               <span> Order # 100000020(the order confirmation email was sent)</span>
                                             </div>
                                               <div>
                                                 <div class="col-lg-5 p-0">Order date </div>
                                                  <div class="col-lg-7  p-0">Aug 7,2018 3:41:05 AM</div>

                                               </div>
                                               <div>
                                                 <div class="col-lg-5 p-0">Order status </div>
                                                   <div class="col-lg-7 p-0">ONHOLD</div>

                                               </div>
                                               <div>
                                                  <div class="col-lg-5 p-0">Purchased From </div>
                                                   <div class="col-lg-7 p-0">Zshoper 
                                                      Country name
                                                      English
                                                  </div>

                                               </div>
                                               <div>
                                                  <div class="col-lg-5 p-0">Placed from IP </div>
                                                   <div class="col-lg-7 p-0">123.258.125.369</div>

                                               </div>
                                             </div>
                                             </div>   
                                                   Account Information 
                                              <div class="col-lg-6  ">
                                             <div class="col-lg-12 order-details-box p-10">
                                              <div class="m-b-10">
                                               <span> Account Information</span>
                                             </div>
                                               <div>
                                                 <div class="col-lg-5 p-0">Customer Name </div>
                                                  <div class="col-lg-7  p-0">Shihab</div>

                                               </div>
                                               <div>
                                                 <div class="col-lg-5 p-0">Email </div>
                                                   <div class="col-lg-7 p-0">shihab@yahoo.com</div>

                                               </div>
                                                <div>
                                                 <div class="col-lg-5 p-0">Mob </div>
                                                   <div class="col-lg-7 p-0">1234567890</div>

                                               </div>
                                               <div>
                                                  <div class="col-lg-5 p-0">Customer Group </div>
                                                   <div class="col-lg-7 p-0">Customer
                                                  </div>

                                               </div>
                                               

                                             </div>
                                           </div>
                                              Billing information 
                                             <div class="col-lg-6  ">
                                             <div class="col-lg-12 order-details-box p-10">
                                              <div class="m-b-10">
                                               <span> Billing Address</span>
                                             </div>
                                               
                                               <div class="col-lg-12 p-0">Shihab up</div>
                                               <div class="col-lg-12 p-0">Uruniyan house </div>
                                               <div class="col-lg-12 p-0">Panayi </div>
                                               <div class="col-lg-12 p-0">Anakkayam Po </div>
                                               <div class="col-lg-12 p-0">Malappuram Dt </div>
                                               <div class="col-lg-12 p-0">Kerala, India </div>
                                               <div class="col-lg-12 p-0">676509 </div>

                                              
                                               

                                             </div>
                                           </div>
                                                Shipping information 
                                              <div class="col-lg-6  ">
                                             <div class="col-lg-12 order-details-box p-10">
                                              <div class="m-b-10">
                                               <span> Shipping Address</span>
                                             </div>
                                               
                                               <div class="col-lg-12 p-0">Shihab up</div>
                                               <div class="col-lg-12 p-0">Logiprompt</div>
                                               <div class="col-lg-12 p-0">Kundara </div>
                                               <div class="col-lg-12 p-0">Kundara Po </div>
                                               <div class="col-lg-12 p-0">Kollam Dt </div>
                                               <div class="col-lg-12 p-0">Kerala, India </div>
                                               <div class="col-lg-12 p-0">12456 </div>

                                             </div>
                                           </div>
                                             Payment information 
                                             <div class="col-lg-6  ">
                                             <div class="col-lg-12 order-details-box p-10">
                                              <div class="m-b-10">
                                               <span> Payment Information</span>
                                             </div>
                                               <div class="col-lg-12 p-0">Credit/Debit Card  </div>
                                               <div class="col-lg-12  p-0">Order was placed using INR</div>

                                             </div>
                                           </div>
                                              Shipping & handling information 
                                              <div class="col-lg-6  ">
                                             <div class="col-lg-12 order-details-box p-10">
                                              <div class="m-b-10">
                                               <span>Shipping and handling information</span>
                                             </div>
                                               <div>
                                                 <div class="col-lg-5 p-0">Shipper</div>
                                                  <div class="col-lg-7  p-0">India post</div>

                                               </div>
                                               <div>
                                                 <div class="col-lg-5 p-0">Delivery type </div>
                                                 <div class="col-lg-7 p-0">Paid</div>

                                               </div>
                                               <div>
                                                  <div class="col-lg-5 p-0">Shipping rate </div>
                                                   <div class="col-lg-7 p-0">RS 10.00
                                                  </div>
                                               </div>
                                               <div class="col-lg-12 p-0"><a href="">View shipping label</a></div>
                                                <div>
                                                  <div class="col-lg-5 p-0">Add tracking number</div>
                                                   <div class="col-lg-7 p-0">123456789
                                                  </div>
                                               </div>
                                             </div>
                                           </div>
                                           
                                        
                                    </div>
<div class="clearfix"></div>
                                    <div class="col-lg-12 order-details-table">
                                        <div class="col-lg-12 p-0"><h5>Items Shipped</h5></div>
                                        <div class="table-responsive m-t-20">



                                        <table id="example24" class="example24 display nowrap table table-hover table-striped table-bordered " cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                             
                                              <th>Product<br>name</th>
                                              <th>Price </th>
                                              <th>Qty</th>
                                              <th>Qty<br>shipped</th>
                                             
                                              
                                        </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                      
                                                   
                                                    <td>Iris prop mobile</td>
                                                    <td>RS 1000.00</td>
                                                    <td>Ordered 2</td>
                                                    <td> 2</td>
                                                    </tr>
                                                    <tr>
                                                      
                                                   
                                                    <td>Mobile charger</td>
                                                    <td>RS 500.00</td>
                                                    <td>
                                                      Ordered 2<br>
                                                      Invoiced 1
                                                     </td>
                                                    <td>1 </td>
                                                    </tr>


                                        </tbody>
                                        </table>
                                        </div>
                                     
                                      </div>
                                         Comments 
                                             <div class="col-lg-6  ">
                                             <div class="col-lg-12 order-details-box p-10">
                                           
                                               <div class="col-lg-12 m-b-10 p-0">
                                                  <div class="col-lg-5 p-0">Shipping Comments </div>
                                                   <div class="col-lg-12 p-0">
                                                 <textarea class="form-control" type="text"></textarea>
                                                  </div>
                                               </div>
                                                 <div class="col-lg-12 p-0"><input type="checkbox" name="" id="notifyemailg"><label for="notifyemailg">Notify customer by email </label> </div>

                                                 <div class="col-lg-12 p-0"><input type="checkbox" name="" id="addcommentsg"><label for="addcommentsg">Add comments </label> </div>
                                                 <div class="col-lg-12 m-t-10">
                                        <input type="button" name="updateqty" id="updateqty" class="float-right btn waves-effect waves-light btn-sm btn-info" value="Submit comments">
                                      </div>
                                               
                                               
                                             </div>
                                           </div>
                                            
                                                 
                                           </div>
                                           <!--transactions refund entry  

                                           
                                         

                                        </div>-->


                                        </div>




                            </form>
                            
                    </div>
                              <!-- 
                                <form class="floating-labels m-t-40">
                                    <div class="form-group m-b-40">
                                        <input type="text" class="form-control cat" id="name" type="text" ng-model="formdata.category" >
                                      
                                        <span class="bar"></span>
                                        <label for="input1"> category</label>
                                    </div> <div class="form-group m-b-40 btn23">
                                    <button type="button" ng-click="insCategory()" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Submit </button>
                               </div>
                                </form> -->
                            </div>
                        </div>
                        
                    </div>
                   
                     
                </div>   
                </div>
            </div>

         <link href="/admin/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
 <script src="/admin/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script>
    $('.mydatepicker, #datepicker').datepicker();
        $('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
     setTimeout(function(){
  $('.selectpicker').selectpicker({style: 'btn-default',
  size: 4});

}, 1000)
 $(document).ready(function() {
     
    $('.example24').DataTable({
        responsive: true,
		dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
         buttons: [
		 'pageLength',
          //'csv',
//            {
//                text: 'Send payment request',
//                 className: 'add-action',
//               
//            },
			//  {
            //     text: 'Edit',
            //      className: 'edit-action',
               
            // },
          
            //  {
            //     text: 'Delete',
            //      className: 'delete-action',
            //     // action: function ( e, dt, node, config ) {
            //     //     alert( 'Button activated' );
            //     // }
            // },
           
            
            

        ]
        
    });

     });
	 CKEDITOR.replace( 'editor1', {
                fullPage: true,
                allowedContent: true,
                extraPlugins: 'wysiwygarea'
        });

  </script>