
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <style>.page-titles {
                text-align: center;
            }
            .slt{

                width: 23%; 
                height:36px;
            }
            .m-r-20 {
                /* margin-right: 60px !important; */
    width: 38%;
}
.imgs
{width: 100%;
    border-radius: 50%;}
.align-self-center {
    text-align: center;
}
 .p-b-0 {
    padding-bottom: 20px !important;
}
/* .p-20 {
    padding: 1% 0% 0% 0% !important;
} */
            </style>
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    
                   <div class="col-md-12 align-self-center">
                        
                        <select class="select2 form-control custom-select slt">
                        <option>Country</option><option>Country</option><option>Country</option>
                    </select>
                  
                    <select class="select2 form-control custom-select slt" >
                        <option>Language</option><option>Language</option><option>Language</option>
                    </select>
                    
                    </div>
                   <!--<div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Dashboard 3</h3>
                    </div>
                      <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item">Apps</li>
                            <li class="breadcrumb-item active">Dashboard 3</li>
                        </ol>
                    </div> -->
                    <div class="">
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Stats box -->
                <!-- ============================================================== -->
                <div class="row" style="clear:both;">
                    <div class="col-lg-4">
                        <div class="card bg-info">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <div class="m-r-20 align-self-center"><img class="imgs" src="../assets/images/dummy.png" alt="Income" /></div>
                                    <div class="align-self-center" style="width:50%;">
                                        <h6 class="text-white m-t-10 m-b-0">Total Users</h6>
                                        <h2 class="m-t-0 text-white">10</h2>
                                        <h6 class="text-white m-t-10 m-b-0">8 - Verified</h6>
                                        <h6 class="text-white m-t-10 m-b-0">2 - Pending</h6></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-success">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <div class="m-r-20 align-self-center"><img class="imgs" src="../assets/images/dummy.png" alt="Income" /></div>
                                    <div class="align-self-center" style="width:50%;">
                                        <h6 class="text-white m-t-10 m-b-0">Total Customers</h6>
                                        <h2 class="m-t-0 text-white">5</h2>
                                        <h6 class="text-white m-t-10 m-b-0">3 - Verified</h6>
                                        <h6 class="text-white m-t-10 m-b-0">2 - Pending</h6>
</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-primary">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <div class="m-r-20 align-self-center"><img class="imgs" src="../assets/images/dummy.png" alt="Income" /></div>
                                    <div class="align-self-center" style="width:50%;">
                                        <h6 class="text-white m-t-10 m-b-0">Total Vendors</h6>
                                        <h2 class="m-t-0 text-white">5</h2>
                                        <h6 class="text-white m-t-10 m-b-0">5 - Verified</h6>
                                        <h6 class="text-white m-t-10 m-b-0">0 - Pending</h6></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3">
                        <div class="card bg-danger">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff-w.png" alt="Income" /></div>
                                    <div class="align-self-center">
                                        <h6 class="text-white m-t-10 m-b-0">Total Staff</h6>
                                        <h2 class="m-t-0 text-white">987,563</h2></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- ============================================================== -->
                <!-- Sales overview chart -->
                <!-- ============================================================== -->
                
                <div class="row">
                        <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body p-b-0">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs customtab2" role="tablist">
                                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#sold_item" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Most sold item</span></a> </li>
                                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#product_item" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Most viewed product</span></a> </li>
                                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#msearch_word" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Most search word</span></a> </li>
                                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#lsearch_word" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Last search word</span></a> </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content tabcontent-border">
                                            <div class="tab-pane p-20 active show" id="sold_item" role="tabpanel">
                                                    <div class="col-lg-12">
                                                            <div class="table-responsive">
                                                <table id="example23" class="table display table-bordered table-striped dataTable" cellspacing="0" width="100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>First Name</th>
                                                                                    <th>Last Name</th>
                                                                                    <th>Username</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>1</td>
                                                                                    <td>Nigam</td>
                                                                                    <td>Eichmann</td>
                                                                                    <td>@Sonu</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>2</td>
                                                                                    <td>Deshmukh</td>
                                                                                    <td>Prohaska</td>
                                                                                    <td>@Genelia</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>3</td>
                                                                                    <td>Roshan</td>
                                                                                    <td>Rogahn</td>
                                                                                    <td>@Hritik</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                
                                                            
                                                        </div>
                                            </div>
                                            <div class="tab-pane  p-20" id="product_item" role="tabpanel"> <div class="table-responsive">
                                                <table id="example24" class="table display table-bordered table-striped dataTable" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>First Name</th>
                                                                <th>Last Name</th>
                                                                <th>Username</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Nigam</td>
                                                                <td>Eichmann</td>
                                                                <td>@Sonu</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Deshmukh</td>
                                                                <td>Prohaska</td>
                                                                <td>@Genelia</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>Roshan</td>
                                                                <td>Rogahn</td>
                                                                <td>@Hritik</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div></div>
                                            <div class="tab-pane p-20" id="msearch_word" role="tabpanel"> <div class="table-responsive">
                                                <table id="example25" class="table display table-bordered table-striped dataTable" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>First Name</th>
                                                                <th>Last Name</th>
                                                                <th>Username</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Nigam</td>
                                                                <td>Eichmann</td>
                                                                <td>@Sonu</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Deshmukh</td>
                                                                <td>Prohaska</td>
                                                                <td>@Genelia</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>Roshan</td>
                                                                <td>Rogahn</td>
                                                                <td>@Hritik</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div></div>
                                            <div class="tab-pane p-20" id="lsearch_word" role="tabpanel"> <div class="table-responsive">
                                                <table id="example26" class="table display table-bordered table-striped dataTable" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>First Name</th>
                                                                <th>Last Name</th>
                                                                <th>Username</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Nigam</td>
                                                                <td>Eichmann</td>
                                                                <td>@Sonu</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Deshmukh</td>
                                                                <td>Prohaska</td>
                                                                <td>@Genelia</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>Roshan</td>
                                                                <td>Rogahn</td>
                                                                <td>@Hritik</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                   
                </div>
                <!-- ============================================================== -->
                <!-- End Right panel -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <script>
            $(document).ready(function() {
      setTimeout(function(){  
   
    $('#example23').DataTable({
       
    });
	$('#example24').DataTable({
       
    });
	$('#example25').DataTable({
       
    });
	$('#example26').DataTable({
       
    });
});
     });

   
</script>